body {
    font-family: 'Arial', sans-serif;
    background: url('/static/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh; /* Full viewport height, prevents scrolling */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 320px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto; /* Centers the container without specific vertical offset */
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh; /* Ensures the container takes at least the height of the viewport */
}


h1 {
    color: #3e8e41;
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    text-align: left;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input:hover,
select:hover,
input:focus,
select:focus {
    border-color: #5ea15d;
    box-shadow: 0 0 8px rgba(62, 142, 65, 0.8);
}

.button-container button {
    width: 100%;
    padding: 12px;
    background-color: #3e8e41;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.button-container button:hover {
    background-color: #2e6e31;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    h1, label {
        font-size: smaller;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="date"],
    select,
    button {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 10px;
    }
}
.gender-icon {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.gender-icon.active {
    background-color: #3e8e41;
    color: white;
}
.error-message {
    color: #f44336;
    display: none;  // Hidden by default
    font-size: 0.8em;
}

.error-message.active {
    display: block;  // Show when there is an error
}
#password-requirements {
    font-size: 12px;
}

.requirement {
    color: red;
}

.requirement.valid {
    color: green;
}